<!DOCTYPE HTML>
<!--
	Construct by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>iCub Voice Recorder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<header class="major">
					<h1>iCub Voice Recorder</h1>
					<p>Please Record Yourself Saying the Sentences Below</p>
				</header>
				<ul class="actions">
					<li><a class="button big special icon solo fa-angle-down scrolly" href="#main">
						<span class="label">Learn More</span>
					</a></li>
				</ul>
			</section>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div id="app" class="inner">
					<section id='one' class='special'>
					<record-item
			      v-for="item in sentenceList"
						v-if="item.id == currentPos"
			      v-bind:item="item"
			      v-bind:key="item.id"
						v-on:set-state="setState"
						v-on:advance-item="advanceItem">
			    </record-item>
					<h1 v-if="currentPos < sentenceList.length"> {{ currentPos+1 }} Of {{ sentenceList.length }}</h1>
					<h1 v-if="currentPos >= sentenceList.length"> Thanks for Participating!</h1>
				</section>
				</div>



		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">
					&copy; TataLab. All rights reserved.
				</p>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/vue.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

			<script src="assets/js/main.js"></script>
			<script src="assets/js/app.js"></script>

	</body>
</html>
